// out: stylesheet.min.css, sourcemap: false, compress: true
@color-style: #e67e22;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
img{
    width: 100%;
    vertical-align: middle;
}
html,body{
    font-size: 14px;
    font-weight: normal;
    font-family: Roboto,sans-serif;
    background: #fff;
    color: #000;
}
#main .container{
    max-width: 990px;
}
.right{
    float: right !important;
}
.relative{
    position: relative !important;
}
.absolute{
    position: absolute !important;
}
.fixed{
    position: fixed !important;
}
.row-table{
    &::after,&::before{
        content: ' ';
        display: table;
        clear: both;
    }
}
.row-box{
    float: left;
    width: 100%;
}
.shadow{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff
}
.margin-10b{
    margin-bottom: 10px;
}
.margin-20b{
    margin-bottom: 20px;
}
.margin-30b{
    margin-bottom: 30px;
}
.margin-40b{
    margin-bottom: 40px;
}
.margin-50b{
    margin-bottom: 50px;
}
.txt-center{
    text-align: center;
}
.wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    &::after,&::before{
        content: ' ';
        display: table;
    }
}
.clear{
    clear: both;
    height: 0;
}
header{
    transition: ease all .4s;
    &.show-header{
        background: rgba(0,0,0,.6);
    }
    &.hidden-header{
        visibility: hidden;
        opacity: 0;
    }
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    &::after{
        content: '';
        border-bottom: 1px solid #656565;
        display: block;
        margin-top: -3px;
        @media screen and(max-width: 420px){
            border-bottom: none
        }
    }
    .logo{
        @media screen and(max-width: 420px){
            display: flex;
            justify-content: center;
        }
        h1{
            width: 110px;
            margin-top: 14px;
            @media screen and(max-width: 420px){
                margin-top: 0
            }
            a{
                display: block;
            }
        }
    }
    .navbar{
        margin-bottom: 0;
        border: none;
        transition: ease all .5s;
        @media screen and(max-width: 420px){
            position: fixed;
            top: 0;
            width: 260px;
            left: -195px;
            .top-menu{
    			visibility: hidden;
    			margin-left: 0;
    			li{
    				width: 100%;
    				float: left;
                    a{
                        padding: 14px 0;
                    }
    				&:hover,&.active{
    					transform: translate(20px,0);
    				}
    			}
    		}
            &.open{
    			left: 0;
    			.top-menu{
    				visibility: visible;
    			}
    		}
        }
        nav{
            float: right;
            li{
                float: left;
                display: block;
                padding: 0 15px;
                position: relative;
                transition: ease all .5s;
                a{
                    display: block;
                    color: #fff;
                    padding: 30px 0 25px 0;
                    border-bottom: 3px solid transparent;
                    transition: ease all .3s
                }
                &:hover,&.active{
                    a{
                        color: @color-style;
                        border-color: @color-style;
                    }
                }
                &:hover{
                    ul{
                        display: block;
                    }
                }
                &.locale{
                    margin-top: 30px;
                    padding-bottom: 30px;
                    &::after{
                        content: '';
                        display: block;
                        border-top: 8px solid #fff;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        position: absolute;
                        top: 5px;
                        right: 0;
                    }
                    span{
                        display: block;
                        color: #fff;
                        cursor: pointer;
                        text-transform: uppercase;
                    }
                    ul{
                        position: absolute;
                        width: 100%;
                        right: 0;
                        top: 25px;
                        background: #1b1212;
                        li{
                            cursor: pointer;
                            width: 100%;
                            &:hover{
                                background: #1b1212
                            }
                            span{
                                padding: 3px 0
                            }
                        }
                    }
                }
                ul{
                    display: none;
                }
            }
        }
        &.open{
    		background: rgba(0,0,0,0.9);
    		z-index: 99
    	}
    }
}
#toggle_menu{
    display: none;
    float: right;
    background: transparent;
    color: #fff;
    font-size: 24px;
    outline: none;
    @media screen and(max-width: 420px){
        display: block;
    }
}
.s-btn{
    padding: 10px 20px;
    min-width: 215px;
    color: #fff;
    background: @color-style;
    text-align: center;
    border: none;
    outline: none;
    font-size: 12px;
    span{
        margin-right: 14px
    }
}
.txt-color{
    color: @color-style;
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
}
.mid-banner{
    overflow: hidden;
    .cat{
        height: 380px;
    }
    .shadow{
        z-index: 2;
        background: rgba(0,0,0,.6);
        .inner{
            width: 60%;
            color: #fff;
            margin-top: 20%;
            @media screen and(max-width: 420px){
                width: auto;
                margin-top: 15%
            }
        }
        .title-cap{
            margin-bottom: 30px;
            line-height: 40px;
            font-size: 30px;
            text-transform: uppercase;
            @media screen and(max-width: 420px){
                font-size: 15px;
                line-height: 25px;
                margin-bottom: 5px;
            }
        }
        h3{
            @media screen and(max-width: 420px){
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
        .sapo{
            margin-bottom: 70px;
            line-height: 28px;
            @media screen and(max-width: 420px){
                font-size: 12px;
                line-height: 20px;
                margin-bottom: 0
            }
        }
    }
    .thumb-animate{
        width: 345px;
        position: absolute;
        right: 200px;
        bottom: 50px;
        z-index: 5;
    }
}
.a{
    visibility: hidden;
    &.animated{
        visibility: visible;
    }
}
.heading{
    h3{
        font-size: 24px;
        font-weight: 600;
        line-height: 40px;
        margin-top: 10px;
        &::after{
            content: '';
            border-bottom: 3px solid @color-style;
            display: block;
            width: 70px;
            margin-top: 15px;
        }
    }
    h4{
        font-size: 16px;
        font-weight: 600;
        line-height: 28px
    }
}
#_service{
    padding: 30px 0 25px 0;
    .thumbleft{
        padding-left: 50px;
        padding-right: 50px;
    }
    .inforight{
        padding-right: 120px;
        @media screen and(max-width: 420px){
            padding-right: 0;
        }
    }
    .list{
        margin-left: -10px;
        margin-right: -10px;
        @media screen and(max-width: 420px){
            margin-left: auto;
            margin-right: auto;
        }
        li{
            float: left;
            width: 50%;
            display: block;
            div{
                padding: 7px 15px;
                height: 210px;
                overflow: hidden;
                @media screen and(max-width: 420px){
                    height: auto;
                }
            }
            strong{
                display: block;
                font-size: 15px;
                margin-bottom: 10px;
            }
            p{
                line-height: 20px;
                font-size: 12px
            }
        }
    }
    .ct-left{
        width: 47%;
        float: left;
        position: relative;
        height: 370px;
        overflow: hidden;
        @media screen and(max-width: 420px){
            height: auto;
            width: 100%;
        }
        .shadow{
            z-index: 3;
            background: rgba(36,44,50,0.6);
            .inner{
                padding-left: 130px;
                padding-right: 130px;
                @media screen and(max-width: 420px){
                    padding: 15px;
                }
                h2{
                    margin-top: 65px;
                    color: @color-style;
                    font-size: 28px;
                    margin-bottom: 20px;
                    @media screen and(max-width: 420px){
                        margin-top: 25px;
                    }
                    &::after{
                        content: '';
                        display: block;
                        width: 70px;
                        border-bottom: 3px solid @color-style;
                        margin-top: 20px;
                    }
                }
                p{
                    margin-bottom: 60px;
                    font-size: 14px;
                    max-width: 300px;
                    @media screen and(max-width: 420px){
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}
#sv_box{
    width: 53%;
    float: left;
    @media screen and(max-width: 420px){
        width: 100%;
    }
    .carousel{
        width: 113%;
        position: absolute;
        z-index: 3;
        right: 45px;
        top: 85px;
        @media screen and(max-width: 420px){
            position: relative;
            width: 100%;
            right: 0;
            top: 20px
        }
        .slide-item{
            width: 33.33%;
            padding: 10px;
            float: left;
            a{
                display: block;
                border-radius: 10px;
                position: relative;
                color: #fff;
                overflow: hidden;
                font-size: 14px;
                line-height: 22px;
                height: 200px;
                transition: ease box-shadow .6s;
                &:hover{
                    box-shadow: 0 0 7px 2px #4c7bd4;
                }
                .shadow{
                    background: rgba(20, 63, 101, 0.77);
                    padding: 15px;
                    strong{
                        display: block;
                        margin-bottom: 5px;
                        &::before{
                            content: '';
                            display: block;
                            border-top: 2px solid #fff;
                            width: 50px;
                            margin: 10px 0;
                        }
                    }
                }
            }
            p{
                font-size: 11px;
                line-height: 18px
            }
        }
    }
    .carousel{
        .slick-next, .slick-prev{
            position: absolute;
            font-size: 0;
            line-height: 0;
            top: 50%;
            width: 30px;
            height: 30px;
            -webkit-transform: translate(0,-50%);
            -ms-transform: translate(0,-50%);
            transform: translate(0,-50%);
            cursor: pointer;
            color: #fff;
            outline: 0;
            background: transparent;
            border-radius: 2px;
            @media screen and(max-width: 420xp){
                display: none
            }
        }
        .slick-next{
            right: -30px;
            border: 1px solid #000;
        }
        .slick-prev{
            left: -30px;
            border: 1px solid #fff;
        }
        .slick-prev{
            &::before{
                content: '';
                background: url(../images/a1.png) 0 0 no-repeat;
                display: block;
                width: 12px;
                height: 23px;
                margin-left: 5px;
            }
        }
        .slick-next{
            &::before{
                content: '';
                background: url(../images/a1.png) -19px 0 no-repeat;
                display: block;
                width: 12px;
                height: 23px;
                margin-left: 10px;
            }
        }
    }
}

#news_box{
    .feed{
        .item{
            .info{
                padding: 10px 25px;
                border: 1px solid #ebebeb;
                height: 305px;
                .time{
                    display: block;
                    font-size: 12px;
                    color: #a7a2a2;
                }
                .title{
                    margin: 10px 0;
                }
                p{
                    color: #666;
                    margin-bottom: 30px
                }
            }
        }
    }
}
.title,.thumb{
    display: block;
    color: #000;
    font-weight: 600
}
#i_box{
    height: 410px;
    padding: 80px 0;
    background: url(../images/bg_i.png) no-repeat;
    @media screen and(max-width: 420px){
        height: auto;
        padding: 40px 0;
    }
    .i-top{
        padding: 30px;
        background: rgba(43,48,56,.5);
        box-shadow: 0px 0px 15px 3px #262e5a;
        @media screen and(max-width: 420px){
            padding: 10px 30px;
        }
        p{
            color: #fff
        }
        .txt-color{
            font-size: 40px;
            display: block;
            margin-bottom: 20px;
            &::before{
                content: '';
                display: block;
                border-top: 2px solid @color-style;
                width: 50px;
                margin-bottom: 20px
            }
        }
    }
}
#cs_box{
    .item{
        a{
            display: block;
            padding: 20px 25px;
            height: 80px;
            box-shadow: 0 1px 5px #c4dada
        }
    }
    .slick-list{
        padding: 10px 0;
    }
    .slick-arrow {
        position: absolute;
        top: -45px;
        right: 0;
        background: transparent;
        border: none;
        outline: none;
        box-shadow: 0px 2px 3px #d6d6d6;
        padding: 4px 10px;
        border-radius: 100%;
        color: #999
    }
    .slick-next{
        right: 15px;
    }
    .slick-prev{
        right: 55px
    }
}
footer{
    background: #191919;
    color: #fff;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
    h3{
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 25px;
    }
    .hd{
        &::after{
            content: '';
            display: block;
            width: 60px;
            border-bottom: 3px solid @color-style;
            margin-top: 20px;
        }
    }
    .col-md-5{
        h3{
            text-transform: uppercase;
        }
        p{
            font-size: 12px;
            color: #adadad;
            span{
                color: @color-style;
                margin-right: 10px;
            }
        }
    }
    .col-md-2{
        li{
            display: block;
            a{
                display: block;
                color: #adadad;
                font-size: 12px;
                span{
                    margin-right: 10px;
                }
            }
        }
    }
    .copy{
        color: #adadad;
        font-size: 13px;
    }
    .row{
        border-bottom: 1px solid #4e4e4e;
        padding-bottom: 20px;
    }
}
.brekum{
    li{
        float: left;
        display: block;
        margin-right: 30px;
        position: relative;
        a,span{
            display: block;
            font-size: 14px;
            color: #fff;
            @media screen and(max-width: 420px){
                font-size: 12px
            }
        }
        &::before{
            content: '>';
            position: absolute;
            top: -2px;
            left: -18px;
        }
        &:first-child{
            &::before{
                content: '';
                position: absolute;
                top: -2px;
                right: -18px;
            }
            a{
                color: @color-style
            }
        }

    }
}
#his_box{
    .inner{
        padding: 50px 0;
    }
    .thumbl{
        width: 40%;
        text-align: right;
        float: left;
        padding-left: 15%;
        padding-right: 30px;
        @media screen and(max-width: 420px){
            padding-left: 10px;
            padding-right: 15px;
        }
    }
    .content{
        width: 60%;
        float: left;
        padding-right: 15%;
        @media screen and(max-width: 420px){
            padding-right: 15px;
        }
    }
}
#mis_box{
    .inner{
        background: #f7f7f7;
    }
    .content{
        float: left;
        width: 53%;
        padding-left: 15%;
        padding-top: 30px;
        @media screen and(max-width: 420px){
            padding-left: 10px;
            padding-top: 10px;
        }
    }
    .thumbl{
        float: left;
        width: 47%;
        padding-left: 30px;
        height: 320px;
        overflow: hidden;
        @media screen and(max-width: 420px){
            padding-left: 10px;
            height: auto
        }
    }
}
#val_box{
    .inner{
        padding: 50px 50px 0;
        @media screen and(max-width: 420px){
            padding: 10px 10px 0;
        }
    }
}
#hum_box{
    .inner{
        background: #f7f7f7
    }
    .ct-left{
        width: 55%;
        float: left;
        height: 400px;
        overflow: hidden;
        @media screen and(max-width: 420px){
            width: 100%;
            height: auto;
        }
        .shadow{
            z-index: 3;
            background: rgba(36,44,50,0.6);
            padding-left: 150px;
            padding-right: 130px;
            @media screen and(max-width: 420px){
                padding-left: 15px;
                padding-right: 13px;
            }
            h2{
                margin-top: 65px;
                font-size: 28px;
                margin-bottom: 20px;
                @media screen and(max-width: 420px){
                    margin-top: 30px;
                }
                &::after{
                    content: '';
                    display: block;
                    width: 70px;
                    border-bottom: 3px solid #e67e22;
                    margin-top: 20px;
                }
            }
            p{
                font-size: 13px;
                line-height: 24px;
            }
        }
    }
    .ct-right{
        float: left;
        width: 45%;
        @media screen and(max-width: 420px){
            width: 100%
        }
        .carousel{
            width: 650px;
            @media screen and(max-width: 420px){
                width: 100%;
                position: static;
            }
        }
    }
    .carousel{
        position: absolute;
        top: 110px;
        right: 0;
        z-index: 9;
        .slide-item{
            height: 156px;
            overflow: hidden;
            padding: 0 5px;
            @media screen and(max-width: 420px){
                height: auto
            }
        }
        .slick-next, .slick-prev{
            position: absolute;
            font-size: 0;
            line-height: 0;
            top: 150%;
            width: 30px;
            height: 30px;
            -webkit-transform: translate(0,-50%);
            -ms-transform: translate(0,-50%);
            transform: translate(0,-50%);
            cursor: pointer;
            color: #fff;
            outline: 0;
            background: transparent;
        }
        .slick-next{
            left: -35px;
            border: 1px solid #000;
        }
        .slick-prev{
            left: -70px;
            border: 1px solid #fff;
        }
        .slick-prev{
            &::before{
                content: '';
                background: url(../images/a1.png) 0 0 no-repeat;
                display: block;
                width: 12px;
                height: 23px;
                margin-left: 5px;
            }
        }
        .slick-next{
            &::before{
                content: '';
                background: url(../images/a1.png) -19px 0 no-repeat;
                display: block;
                width: 12px;
                height: 23px;
                margin-left: 10px;
            }
        }
    }
}
#serv_box{
    margin-top: 30px;
    padding-bottom: 100px;
    @media screen and(max-width: 420px){
        padding-bottom: 10px;
    }
    .heading{
        margin-bottom: 80px;
        @media screen and(max-width: 420px){
            margin-bottom: 20px;
        }
    }
    .content{
        display: flex;
        justify-content: center;
        position: relative;
        ul{
            li{
                display: block;
                position: absolute;
                width: 370px;
                @media screen and(max-width: 420px){
                    position: relative;
                    float: left;
                    width: 100%;
                    text-align: left !important;
                    transform: translate(0,0) !important;
                    padding: 10px 15px;
                }
                .title{
                    font-weight: 600;
                    margin-bottom: 15px;
                    display: block;
                }
                &:nth-child(1){
                    transform: translate(-790px,-40px);
                    text-align: right;
                }
                &:nth-child(2){
                    text-align: right;
                    transform: translate(-845px,160px);
                }
                &:nth-child(3){
                    text-align: right;
                    transform: translate(-795px,355px);
                }
                &:nth-child(4){
                    text-align: left;
                    transform: translate(-10px,-40px);
                }
                &:nth-child(5){
                    text-align: left;
                    transform: translate(25px,145px);
                }
                &:nth-child(6){
                    text-align: left;
                    transform: translate(-10px,355px);
                }
            }
        }
    }
    .big-thumb{
        width: 460px;
    }
}
#exp_box{
    background: url(../pictures/thumbup.png) center no-repeat;
    background-size: cover;
    padding: 60px 0;
    .logo2{
        display: block;
        width: 140px;
    }
    h2{
        color: @color-style;
        font-size: 28px;
        margin-bottom: 25px;
        &::after{
            content: '';
            display: block;
            width: 70px;
            border-bottom: 3px solid #fff;
            margin-top: 20px;
        }
    }
    p{
        color: #fff;
        line-height: 28px;
    }
}
#cont_box{
    padding: 50px 0;
    @media screen and(max-width: 420px){
        padding: 30px 15px;
    }
    ul{
        li{
            float: left;
            display: block;
            width: 100%;
            padding: 12px 0;
            .fa{
                padding: 10px;
                border-radius: 100%;
                border: 1px solid @color-style;
                margin-right: 15px;
                color: @color-style;
                &.fa-map-marker-alt{
                    padding: 10px 12px
                }
            }
        }
    }
    .row-box{
        margin-top: 40px
    }
}
.head-bar{
    background: @color-style;
    padding: 16px 20px;
    margin-bottom: 10px;
    h3{
        margin: 0;
        font-size: 18px;
        color: #fff
    }
}
.side-links{
    li{
        float: left;
        width: 100%;
        display: block;
        margin: 5px 0;
        &:hover{
            a{
                transform: translate(-15px,0);
                -webkit-transform: translate(-15px,0);
            }
        }
        a{
            color: #000;
            display: block;
            padding: 10px 15px;
            font-size: 15px;
            text-shadow: 0 0 1px #444;
            border-left: 3px solid @color-style;
            background: #f4f4f4;
            transition: ease transform .5s;
        }
    }
}
.con-box{
    h3{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    p{
        font-size: 15px;
    }
}
#content_detail{
    margin-top: 40px
}
.content-detail{
    padding-bottom: 30px;
    font-size: 16px !important;
    line-height: 26px !important;
    img{
        width: auto;
        max-width: 100%
    }
    .thumb{
        margin-bottom: 15px;
        img{
            width: 100%
        }
    }
    h1{
        font-weight: 600;
        font-size: 18px;
        margin-top: 0
    }
    p{
        line-height: 26px !important;
        font-size: 16px !important;
        font-family: inherit !important;
    }
}
.search-box{
    background: #000;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    input{
        width: 100%;
        padding: 10px 30px 10px 20px;
        color: #a7a7a7;
        background: transparent;
        outline: none;
        border: none
    }
    button{
        position: absolute;
        background: none;
        outline: none;
        right: 0;
        padding: 10px;
        border: none;
    }
}
.cat-box{
    h3{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    ul{
        position: relative;
        transition: ease display .5s;
        li{
            float: left;
            display: block;
            width: 100%;
            position: relative;
            border-bottom: 1px solid #cdcdcd;
            transition: ease all .5s;
            padding-right: 20px;
            li{
                padding-left: 15px;
                &:hover{
                    transform: translate(20px,0);
                }
                &:last-child{
                    border-bottom: none;
                }
            }
            &.pr{
                &::after{
                    content: '';
                    display: block;
                    width: 19px;
                    height: 18px;
                    position: absolute;
                    right: 10px;
                    top: 11px;
                    background-image: url(../images/a2.png);
                    background-position: -173px 0;
                    background-size: 80px;
                }
                &.open{
                    &::after{
                        content: '';
                        background-position: -115px 0;
                    }
                }
            }
            a{
                display: block;
                padding: 10px 0;
                color: #000;
            }
            &.open{
                ul{
                    display: block;
                }
            }
        }
        ul{
            display: none;
        }
    }
}
.timeup{
    display: block;
    color: @color-style;
    margin-bottom: 7px;
}
.news-feed{
    li{
        float: left;
        width: 100%;
        display: block;
        padding-bottom: 20px;
        margin-bottom: 40px;
        border-bottom: 1px solid #ccc;
        &:last-child{
            border-bottom: none
        }
        .title{
            font-weight: 600;
            display: block;
            color: #000;
            margin-bottom: 15px
        }
        .thumb{
            margin-bottom: 20px;
            display: block;
        }
        p{
            margin-bottom: 40px;
        }
    }
}
.rel-box{
    h3{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    ul{
        li{
            float: left;
            width: 100%;
            display: block;
            margin: 7px 0;
            a{
                display: block;
                color: #000;
                img{
                    width: 100px;
                    margin-right: 10px;
                    float: left;
                }
            }
        }
    }
}
.hd{
    h2{
        font-size: 24px;
        font-weight: 600;
        margin-top: 6px;
    }
}
.job-box{
    .find-job{
        border: 1px solid #ccc;
        position: relative;
        input{
            border: none;
            background: transparent;
            outline: none;
            width: 100%;
            padding: 10px 50px 10px 20px;
        }
        button{
            background: @color-style;
            border: none;
            outline: none;
            color: #fff;
            padding: 10px 15px;
            position: absolute;
            right: 0;
        }
    }
}
.module-job{
    table{
        td{
            a{
                color: @color-style
            }
        }
        thead{
            box-shadow: 0px 2px 0px 2px #f9f5f5;
            tr{
                th{
                    border-bottom: none
                }
            }
        }
        tbody,thead{
            td,th{
                text-align: center;
                padding: 15px 0;
            }
        }

    }
}
#sugg_box{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 99;
    &.none{
        display: none !important;
    }
    li{
        display: block;
        background: #111;
        border-top: 1px solid #fff;
        &:hover{
            background: #000
        }
        a{
            display: block;
            padding: 10px 15px;
            color: #fff;
        }

    }
}
.c-box{
    margin-top: 10px;
    border-left: 1px solid #ccc
}
.col-50{
    float: left;
    width: 50%;
    @media screen and(max-width: 420px){
        width: 100%;
    }
}
.line-end{
    display: inline-block;
    margin-left: 10px;
    width: 50px;
    border-bottom: 2px solid @color-style;
}

.social{
    li{
        float: left;
        display: block;
        margin-right: 10px;
        a{
            display: block;
        }
    }
}
.icon{
    display: inline-block;
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
}
.ic-diamond{
    width: 70px;
    height: 60px;
    background-position: -40px -5px;
}
.ic-idea{
    width: 60px;
    height: 60px;
    background-position: -118px -4px;
}
.ic-users{
    width: 60px;
    height: 60px;
    background-position: -180px -5px;
}
.ic-target{
    width: 60px;
    height: 60px;
    background-position: -248px -5px;
}
.ic-bars{
    width: 50px;
    height: 50px;
    background-position: -312px -7px;
}
.ic-television{
    width: 50px;
    height: 50px;
    background-position: -366px -8px;
}
.ic-wallet{
    width: 50px;
    height: 50px;
    background-position: -416px -8px;
}
.ic-shield{
    width: 50px;
    height: 50px;
    background-position: -465px -8px;
}
.ic-monitor{
    width: 55px;
    height: 55px;
    background-position: -516px -8px;
}
.ic-light{
    width: 50px;
    height: 50px;
    background-position: -568px -8px;
}
.icon-like-hand{
    display: inline-block;
    background: url(../images/icon.png) 6px -14px no-repeat;
    width: 35px;
    height: 35px;
    color: #e67e22;
    border-radius: 50px;
    padding: 20px;
    background-color: #ebebeb;
}
.soci{
    display: inline-block;
    background-image: url(../images/social.png);
    width: 21px;
    height: 21px;
    border-radius: 100%
}
.sc-fa{
    background-position: 0 0;
}
.sc-gp{
    background-position: -26px 0;
}
.sc-tw{
    background-position: -52px 0;
}
.sc-tm{
    background-position: -77px 0;
}
@keyframes rotex{
  0% {
    transform: rotateX(0);
  }
  70% {
    transform: rotateX(50deg);
  }
}
