// out: admin.css, sourcemap: false, compress: true
#login-box{
	border: 1px solid #a7a7a7;
	background: #cecece;
	padding-bottom: 50px;
	margin-top: 50px;
    .widget-body{
        background-color: transparent;
    }
}
.pad-10t{
	padding-top: 10px
}
.gr-act{
	padding-top: 8px
}
.red-bold{
	color: #f00;
	font-weight: bold;
}
.error{
	input,textarea,select{
		border-color: #D16E6C;
	}
	.help-block{
		color: #D16E6C;
		padding-left: 0;
	}
}
.tag-group{
	.tags{
		width: 100%;
	}
}
.lighter-heading{
	padding: 10px 5px;
	border-bottom: 1px solid;
}
.form{
	label{
		margin-top: 10px;
		font-weight: bold
	}
}
.profile-picture{
	position: relative;
	.box-edit-avatar{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		color: #fff8dc;
		label,button{
			font-size: 24px;
			background: transparent;
			outline: none;
			border: none
		}
		input[type="file"]{
			visibility: hidden;
			position: absolute;
			opacity: 0;
		}
	}
}
#alert_mess{
	.alert{
		padding: 10px 30px
	}
}
.page-content{
	.pagination{
		margin: 15px 0;
	}
	&.content2{
		margin-top: 5px;
		.btn{
			border: none
		}
	}
}
